#biao {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
}
/*h1 {
    text-align: center;
    font-size: 60px;
    color: rgba(199, 121, 223, 0.32);
}*/
header {
    background-color: rgba(125, 189, 216, 0.47); /* 页眉的背景颜色 */
    color: white; /* 文字颜色 */
    padding: 10px 0; /* 上下内边距 */
}

header nav ul {
    list-style: none; /* 去除列表的默认样式 */
    padding: 0;
}

header nav ul li {
    display: inline; /* 使列表项水平排列 */
    margin-right: 10px; /* 列表项之间的间距 */
}

header nav ul li a {
    color: white; /* 链接文字颜色 */
    text-decoration: none; /* 去除下划线 */
    padding: 5px 10px; /* 链接周围的内边距 */
}

header nav ul li a:hover {
    background-color: #555; /* 鼠标悬停时的背景颜色 */
}
html
{

        background: linear-gradient(to right, rgba(76, 143, 172, 0.5), rgba(109, 181, 191, 0.45), rgba(129, 180, 189, 0.13));

}
#zm{
    width: 40%;
    height: auto;
    display: block;
}
#violet{
    width: 40%;
    height: auto;
    display: block;
}
#sj{
    width: 40%;
    height: auto;
    display: block;
}
#me{
    width: 40%;
    height: auto;
    display: block;
}
#tu{
    width: 40%;
    height: auto;
    display: block;
}
@font-face {
    font-family: 'CustomFont';
    src: url('钟齐志莽行书.ttf') format('truetype'); /* Safari, Android, iOS */

    font-weight: normal;
    font-style: normal;
}
#xixi
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}
#xixi2
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}
#xixi3
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}
#xixi4
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('Qwigley-Regular.ttf') format('truetype'); /* Safari, Android, iOS */

    font-weight: normal;
    font-style: normal;
}
#xixi5
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}
#xixi6
{
    font-family: 'CustomFont', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.71);
}